:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #363636;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.upload-file {
  background-color: var(--main-color);
  box-sizing: border-box;
  padding: 50px;
  margin-top: 50px;
  border-radius: 40px;
}

.upload__decorated-btn {
  transition: 0.1s ease-in;
  cursor: pointer;
  background-color: #3aacff;
  width: 150px;
  height: 41.0px;
  border-radius: 100px;
  border: 1px solid #1698f6;
  margin-bottom: 25px;
}

.upload__decorated-btn:hover {
  background-color: #319ff0;
}

#upload {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.upload-file__preview {
  padding: 20px;
  display: inline-block;
}

.metrics {
  background-color: var(--main-color);
  padding: 50px;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
